<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  <display-name>Big Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.bigbank.util.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <error-page>
  	<exception-type>com.bigbank.util.CSRFValidationException</exception-type>
  	<location>/csrfInvalid</location>
  </error-page>
</web-app>
<!-- 
  <servlet>
    <servlet-name>authenticate</servlet-name>
    <servlet-class>com.bigbank.controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authenticate</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>achome</servlet-name>
    <servlet-class>com.bigbank.controller.secure.ACHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>achome</servlet-name>
    <url-pattern>/secure/achome</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.bigbank.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
-->